@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --font-color: black;
  --background-color: white;
  --primary: #283583;
  --secondary: #048bcd;
  --dark-gray: #252734;
}

body {
  font-family: 'Raleway', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  background: var(--background-color);
  color: var(--font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
  color: white;
  padding:30px;
  margin-bottom:30px;
}

header h1 {
  margin: 0;
  height:60px;
  text-indent: -10000px;
  background: url(assets/Smart\ Insurance\ Logo.svg) left no-repeat;
}

div.car-splash {
  margin-bottom: 30px;
  padding: 30px;
  background-color: var(--secondary);
  color: white;
  font-size:26px;
  line-height: 1.38em;
  align-items: center;
  display: flex;
}

div.car-splash p {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 960px) {
  div.car-splash {
    height: 230px;
    background-image: url(assets/Smart-Insurance-hero-480x290.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left:510px;
  }

}

h2 {
  font-weight: 500;
  color: var(--secondary);
  font-size: 45px;
  line-height: 1.29em;
  margin-bottom: 30px;
}

div.content {
  margin-bottom: 30px;
}

@media only screen and (max-width: 959px) {
  div.content {
    padding: 0 30px;
  }
  h2 {
    padding: 0 30px;
  }
}

ul.links {
  margin: 0 0 30px 10px;
  padding: 0;
}

ul.links > li {
  background: var(--primary);
  transform: skew(-20deg);
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  margin: 0 20px 0 0;
  text-align: center;
  min-width: 210px;
  display: inline-block;
}

ul.links > li.secondary {
  background: var(--secondary);
}

ul.links > li > a {
  display: block;
  transform: skew(20deg);
  color: white;
  text-decoration: none;
  padding: 15px 0;
}

div.app-splash {
  background-color: var(--primary);
  color: white;
  font-size:26px;
  line-height:1.38em;
  padding: 30px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 960px) {
  div.app-splash {
    height: 230px;
    background-image: url(assets/App-download-CTA-480x290.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 510px;
  }
}

div.app-splash ul {
  margin: 0;
  padding: 25px 0 0 5px;
  list-style: none;
}

div.app-splash ul > li {
  display: inline-block;
  margin-right: 15px;
}

div.app-splash ul > li > a {
  color: white;
  display: inline-block;
  text-indent: -10000px;
  height: 80px;
  width: 80px;
  background-position: center center;
  background-repeat: no-repeat;
}

div.app-splash ul > li > a.android {
  background-image: url(assets/Smart\ Insurance\ devices\ android.svg);
}

div.app-splash ul > li > a.ios {
  background-image: url(assets/Smart\ Insurance\ devices\ Apple.svg);
}

footer {
  background: var(--dark-gray);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

footer h6 {
  width: 120px;
  height: 60px;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: -10000px;
  margin-right:30px;
}

footer h6.smart {
  background-image: url(assets/Smart\ Insurance\ Logo.svg);
}

footer h6.autoprotect {
  background-image: url(assets/AP\ Logo.svg);
}

footer small {
  max-width: 400px;
  font-size: 10px;
  line-height: 1.35em;
}

footer a.tel {
  color: white;
  font-size: 26px;
  min-width: 120px;
  margin-left: auto;
}